{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% block sourcelink %}{% endblock %}

{% block content %}
  {% include 'gallery.partial' %}
{% endblock %}

{% block extra_head %}
  {{ super() }}
  {% include 'gallery_meta.partial' %}
{% endblock %}


{% block extra_js %}
  {% include 'gallery_extra_js.partial' %}
{% endblock %}
