{#  -*- coding: utf-8 -*- #}
{% set post = get_post_data(post, _link, lang) %}

{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% include 'post_meta.partial' %}
{% endblock %}

{% block content %}
    {% include 'post.partial' %}
{% endblock %}

{% block sourcelink %}
{% if show_sourcelink %}
    <li>
    <a href="{{ post.source_link }}" id="sourcelink">{{ messages("Source") }}</a>
    </li>
{% endif %}
{% endblock %}
