{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% include 'partials/post_meta.tmpl' %}
{% endblock %}

{% block content %}
  {% include 'partials/post.tmpl' %}
{% endblock %}

{% block sourcelink %}
{% if show_sourcelink %}
    <li>
    <a href="{{ post.source_link() }}" id="sourcelink">{{ messages("Source") }}</a>
    </li>
{% endif %}
{% endblock %}
